body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1px;
}
.noteDate {
  font-size: 13px;
  margin-left: 12em;
  color: #808080;
  align-items: center;
  width: 100%;
}
.done {
  color: green;
}
.fal {
  color: red;
}
.wait {
  color: chocolate;
}
.item {
  display: flex;
  gap: 20px;
}
.tieude {
  margin-bottom: 3px;
  font-size: 20px;
  color: blue;
  text-align: center;
  width: 100%;
}
.inputbox {
  font-size: 16px;
  text-align: center;
}

/* .render {
  border: 1px;
  border-style: solid;
  border-width: thin;
  border-color: #008080;
} */
p {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
button {
  font-size: 16px;
  background-color: SeaGreen;
  color: aliceblue;
}

/* modal */
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.display {
  display: flex;
}
